<div class="container-fluid dish">
  <div id="fluid-blank"></div>
</div>

<div class="container container-1">
  <div class="row-fluid">
    <div class="span4">
      <h4>联系我们</h4>
      <hr>
      <p>联 系 人: <%= @company.contact %></p>
      <p>联系电话: <%= @company.tel %></p>
      <p>公司传真: <%= @company.fax %></p>
      <p>即时通讯: <%= @company.qq %>(QQ)</p>
      <p>公司地址: <%= @company.address%></p>
    </div>
    <div class="span8">
      <h4>菜品展示</h4>
      <hr>
      <ul class="thumbnails">
        <% @dishes.each_slice(2) do |dishes| %>
          <li class="span4 dish-each">
            <% dishes.each do |dish| %>
            <a href="<%=dish_path(dish)%>">
              <div class="thumbnail">
                <%= image_tag(dish.picture_url) %>
                <div class="desc">
                  <%= dish.title %>
                </div>
              </div>
            </a>
            <% end %>
          </li>
        <% end %>
      </ul>
      <%= paginate @dishes %>
    </div>
  </div>
</div>
